---
http_interactions:
- request:
    method: get
    uri: https://api.data.gov/nrel/alt-fuel-stations/v1.json?api_key=9b5a6NIAwV31qTN8Bf5oEmHcy3PhJqMcvZCqS3Wi&fuel_type=ELEC,%20LPG&limit=10&radius=6.0&zip=80203
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '984'
      Last-Modified:
      - Mon, 12 Sep 2016 16:05:37 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"station_locator_url":"http://www.afdc.energy.gov/afdc/locator/stations/","total_results":1,"station_counts":{"total":2,"fuels":{"E85":{"total":0},"ELEC":{"total":2,"stations":{"total":1}},"HY":{"total":0},"LNG":{"total":0},"BD":{"total":0},"CNG":{"total":0},"LPG":{"total":0}}},"fuel_stations":[{"access_days_time":"24
        hours daily","cards_accepted":null,"date_last_confirmed":"2016-09-12","expected_date":null,"fuel_type_code":"ELEC","id":62140,"groups_with_access_code":"Public","open_date":null,"owner_type_code":null,"status_code":"E","station_name":"CADACHARGEPOINT","station_phone":"888-758-4389","updated_at":"2016-09-12T08:26:48Z","geocode_status":"GPS","latitude":39.723392,"longitude":-104.9842797,"city":"Denver","intersection_directions":"CADA
        CARPORT 1","plus4":null,"state":"CO","street_address":"290 E Speer Blvd","zip":"80203","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":["J1772"],"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":2,"ev_network":"ChargePoint
        Network","ev_network_web":"http://www.mychargepoint.net/","ev_other_evse":null,"hy_status_link":null,"lpg_primary":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"ev_network_ids":{"posts":["1:102063"]}}]}'
  recorded_at: Mon, 12 Sep 2016 16:05:37 GMT
recorded_with: VCR 3.0.3
